header {
	color: white;
	text-align: center;
	padding: 5px;
}

body {
	background-color: #000;
}

article {
	border: 1px solid lightblue;
	width: 30%;
	padding: 5px 3px;
	margin: 3px;
	float: left;
	color: white;
}

h2 {
	border: 1px dotted lightgray;
	text-align: center;
	padding: 5px 0 2px 0;
	color: white;
}

#description {
	text-align: justify;
	color: white;
}

h3 {
	font-weight: bold;
	color: #43464b;
}

#status {
	background-color: darkgrey;
	color: yellow;
}

footer {
	font-size: 10px;
}
